services:
    # Create category in administration form
    CreateArticleForm:
        setup:
            - addFormContainer(Wame\ArticleCategoryPlugin\Forms\CategoryTreeFormContainer(), 'CategoryTreeFormContainer', 50)

    # Create category in administration form
    EditArticleForm:
        setup:
            - addFormContainer(Wame\ArticleCategoryPlugin\Forms\CategoryTreeFormContainer(), 'CategoryTreeFormContainer', 50)

    ArticleListForm:
        setup:
            - addFormContainer(Wame\ArticleCategoryPlugin\Forms\CategoryTreeFormContainer(), 'CategoryTreeFormContainer', 50)

    ArticleCategoryType:
        class: Wame\ArticleCategoryPlugin\Models\Category\Types\ArticleCategoryType
        tags: [run]

    CategoryManager:
        setup:
            - addType(Wame\ArticleCategoryPlugin\Models\Category\Types\ArticleCategoryType())
