services:
	# Entities
	- Wame\ArticleCategoryPlugin\Entities\ArticleCategoryEntity

	# Repositories
	- Wame\ArticleCategoryPlugin\Repositories\ArticleCategoryRepository

	ArticlesOfCategory:
		class: Wame\ArticleCategoryPlugin\Controls\ArticlesOfCategory
		setup:
			- injectRepository
	CategoriesOfArticle:
		class: Wame\ArticleCategoryPlugin\Controls\CategoriesOfArticle
		setup:
			- injectRepository

doctrine:
	metadata:
		Wame\ArticleCategoryPlugin\Entities: %appDir%/../vendor/wame/ArticleCategoryPlugin/entities
		Wame\ArticleCategoryPlugin\Repositories: %appDir%/../vendor/wame/ArticleCategoryPlugin/repositories